<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page (title)">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}">Welcome</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">GANGANGANG</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registration">Register</a></li>
                    <li><a href="/create_submission">Submit an AMA</a></li>
                    <li th:if="${#httpServletRequest.remoteUser != null}"><a th:href="@{/user/__${#httpServletRequest.remoteUser}__}">My Summary</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <p th:if="${#httpServletRequest.remoteUser != null}" class="navbar-text" th:inline="text">Signed in as [[${#httpServletRequest.remoteUser}]]</p>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div th:include="this :: content"/>
    </div>
</div>
</body>
</html>