<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${post.title}">This is a title</title>
</head>
<body>
<a href="/">Home</a>
<h1 th:text="${post.title}">AMATitle</h1>
<h2><p th:text="${post.text}">amadescription</p></h2>
<form action="#" th:action="@{/posts/__${submission}__}" th:object="${commentPost}" method="post">
    <p><textarea rows="4" cols="50" th:field="*{text}">Ask your question...</textarea></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<h2>Comments</h2>
<!--/*@thymesVar id="baseComments" type="java.lang.Iterable"*/-->
<div th:each="comment : ${baseComments}">
    <p><a th:href="@{/user/__${comment.op.username}__}" th:text="|${comment.op.username}|"></a></p>
    <p><a th:text="${comment.text}">Title ...</a>
    <a th:href="@{/comments/upvote(id=${comment.id})}">Upvote</a><span th:text="|(${comment.getUpvotes()})|"/> <a th:href="@{/comments/downvote(id=${comment.id})}">Downvote</a><span th:text="|(${comment.getDownvotes()})|"/>
    </p>
    <form th:action="@{/comments/__${comment.id}__/reply}" method="post">
        <p><input type="text" name="reply" /><input type="submit" value="Reply" /></p>
    </form>
    <div style="padding-left: 4em" th:each="reply : ${comment.getReplies()}">
        <p th:text="${reply.text}"></p>
    </div>
</div>
</body>
</html>