<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${post.title}">This is a title</title>
</head>
<body>
<a href="/">Home</a>
<h1 th:text="${post.title}">AMATitle</h1>
<h2><p th:text="${post.text}">amadescription</p></h2>
<form action="#" th:action="@{/posts/__${submission}__}" th:object="${commentPost}" method="post">
    <p><textarea rows="4" cols="50" th:field="*{text}">Ask your question...</textarea></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<h2>Comments</h2>
<!--/*@thymesVar id="baseComments" type="java.lang.Iterable"*/-->
<div th:each="comments : ${baseComments}">
    <p><a th:text="${comments.text}">Title ...</a>
    <a th:href="@{/comments/upvote(id=${comments.id})}">Upvote</a><span th:text="|(${comments.getUpvotes()})|"/> <a th:href="@{/comments/downvote(id=${comments.id})}">Downvote</a><span th:text="|(${comments.getDownvotes()})|"/>
    </p>
    <form th:action="@{/comments/__${comments.id}__/reply}" method="post">
        <p><input type="text" name="reply" /></p>
        <p><input type="submit" value="Reply" /></p>
    </form>
</div>
</body>
</html>