<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${post.title}">This is a title</title>
</head>
<body>
<h1 th:text="${post.title}">AMA Title</h1>
<p th:text="${post.text}">ama description</p>

<form action="#" th:action="@{/posts/__${submission}__}" th:object="${commentPost}" method="post">
    <p><textarea th:field="*{text}">Ask your question...</textarea></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<h2>Comments</h2>
<tr th:each="comments : ${baseComments}">
    <p><td><a th:text="${comments.text}"/></td></p>
</tr>
</body>
</html>