<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>This is the home page</h1>
    <a href="/login">Login</a>
    <a href="/registration">Register</a>
    <p><a href="/create_submission">Submit an AMA</a></p>
    <p th:if="${currentUser != null}">
        <a th:href="@{/user/__${currentUser.username}__}">My Summary</a>
    </p>
    <h2>Current AMAs</h2>
    <!--/*@thymesVar id="submissionPosts" type="java.lang.Iterable"*/-->
    <tr th:each="submission : ${submissionPosts}">
        <p><td><a th:href="@{/posts/__${submission.title}__}" th:text="${submission.title}">Title ...</a></td></p>
    </tr>
</body>
</html>