<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>This is the home page</h1>
    <a href="/login">Click here to login</a>
    <a href="/registration">Or click here to register</a>
    <!--/*@thymesVar id="submissionPosts" type="java.lang.Iterable"*/-->
    <p th:each ="existingPost : ${submissionPosts}"
       th:text="|Title : ${existingPost.title} Text: ${existingPost.text}|"/>
</body>
</html>