<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout :: page (title='Welcome')">
<body>
<div th:fragment="content">
    <h2>Current AMAs</h2>
    <!--/*@thymesVar id="submissionPosts" type="java.lang.Iterable"*/-->
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item" th:each="submission : ${submissionPosts}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a th:href="@{/posts/__${submission.id}__}" th:text="${submission.title}">Title ...</a>
                        <span th:text="|(${submission.getAmountOfLikes()}) |"/><a th:href="@{/posts/like(id=${submission.id})}">Like</a>
                    </div>
                    <div class="panel-footer">
                        <span text="submitted by "/><a th:href="@{/user/__${submission.op.username}__}" th:text="|${submission.op.username}|"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>