<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Register</title>
</head>
<body>

<form id="reply" th:action="@{/search}" method="get">
    <input type="text" name="search" /><input type="submit" value="Search" />
</form>
<div class="container-fluid">
    <h2>Matching Searches</h2>
    <!--/*@thymesVar id="submissionPosts" type="java.lang.Iterable"*/-->
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item" th:each="submission : ${foundSubmissions}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a th:href="@{/posts/__${submission.title}__}" th:text="${submission.title}">Title ...</a>
                        <span th:text="|(${submission.getAmountOfLikes()}) |"/><a th:href="@{/posts/like(id=${submission.id})}">Like</a>
                    </div>
                    <div class="panel-footer">
                        <span text="submitted by "/><a th:href="@{/user/__${submission.op.username}__}" th:text="|${submission.op.username}|"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>